<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.yoka"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
        android:name="com.open.yoka.application.YokaApplication"
       android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
         <!-- webview -->
        <activity
            android:name="com.open.yoka.activity.YokaWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/yoka_webview_desp" >
        </activity>
        <!-- m yoka 导航pager -->
        <activity
            android:name="com.open.yoka.activity.m.MAdFocusViewPagerFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/yoka_m_focus_pager_f_desp" >
        </activity>
        <!-- m yoka 主页列表-->
        <activity
            android:name="com.open.yoka.activity.m.MMainListBoxFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/yoka_m_main_list_f_desp" >
        </activity>
         <!--m yok Indicator 列表 -->
        <activity
            android:name="com.open.yoka.activity.m.MMainListBoxIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/yoka_m_main_tab_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
        <!-- 所有类列表 -->
        <activity
            android:name="com.open.yoka.activity.YokaALLActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/yoka_all_desp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
